/* stylelint-disable */

.section.columns-container .columns.block {
  padding: 1rem 0;
}

.columns>div {
  display: flex;
  flex-direction: column;
  margin-bottom: 2.5rem;
}

@media (min-width: 800px) {
  .columns.query:not(.fifty-fifty)>div:nth-of-type(even) {
    flex-direction: row-reverse;
  }
}

.columns:not(.fifty-fifty)>div:nth-of-type(odd) {
  background-color: #F0F0F0;
}

.columns:not(.fifty-fifty)>div:nth-of-type(even) {
  background-color: #E9F6E9;
}

.columns img {
  width: 100%;
}

.columns>div>div {
  order: 1;
}

.columns>div>div:not(.columns-img-col) {
  padding: 1.5rem;
}

.columns>div>.columns-img-col {
  order: 0;
}

.columns>div>.columns-img-col img {
  display: block;
  max-height: 256px;
}

.columns>div>div>p {
  margin: 0;
}

.columns>div>div>p:first-of-type {
  font-size: 1.5rem;
  font-weight: 600;
}

.columns>div>div>p:nth-of-type(2) {
  font-size: 1.25rem;
  font-weight: 400;
}

.columns .button-container {
  margin-top: 1rem;
}

.columns .button-container a {
  font-size: 0.875rem;
  text-decoration: unset;
  font-weight: 400;
  padding: 0.5rem 1rem;
  height: auto;
  display: inline-block;
  border-radius: 0;
  background-color: var(--color-black);
  margin: 0;
}

@media (min-width: 900px) {
  .columns>div {
    align-items: center;
    flex-direction: unset;
  }

  .columns>div>div {
    flex: 1;
    order: unset;
    width: 58%;
  }

  .columns>div>.columns-img-col {
    flex-basis: 42%;
    max-width: 42%;
  }

  .columns>div>div:not(.columns-img-col) {
    padding: 24px 64px;
  }
}

/* fifty-fifty */
.columns.fifty-fifty>div>div:first-of-type {
  background-color: #07c51d;
  color: var(--color-white);
}

.columns.fifty-fifty>div>div:first-of-type .button-container a {
  background-color: var(--color-white);
  color: var(--color-black);
}

.columns.fifty-fifty>div>div:nth-of-type(2) {
  background-color: #fed931;
}

.columns.fifty-fifty>div>div {
  padding: 48px 60px 48px 48px;
}

.columns.fifty-fifty>div {
  gap: 1.5rem;
  margin-bottom: 0;
}

.columns.fifty-fifty>div>div>p:nth-of-type(2) {
  margin-top: 1rem;
  font-size: 1rem;
}

.columns.fifty-fifty .button-container a {
  padding: 16px 48px;
  font-size: 1rem;
  border-radius: 2px;
  max-width: 210px;
  width: 100%;
}

/* full-width */
.section.full-width.columns-container {
  padding: 32px 0;
}

.section.full-width.columns-container .columns-wrapper {
  max-width: 100%;
}

.section.full-width .columns.full-width>div>.columns-img-col img {
  max-height: 100%;
}

.section.full-width .columns.full-width h1 {
  font-size: 28px;
  font-weight: 400;
  margin-top: 0;
}

.section.full-width .columns.full-width p {
  font-size: 40px;
  line-height: 24px;
  font-weight: 400;
}

.section.full-width .columns.full-width div {
  background-color: #025438;
  color: #fff;
}

.columns.full-width>div>div:not(.columns-img-col) {
  padding: 24px 15px;
}

@media (min-width: 1200px) {
  .section.full-width .columns.full-width div>div:not(.columns-img-col) {
    padding: 24px 7.5rem;
  }

  .section.full-width .columns.full-width div>div {
    max-width: 50%;
  }
}

/* Highlight */
.columns.highlight>div {
  background-color: #C8E6CA !important;
  margin-bottom: 0;
}

/* Columns Row */
.section.columns-row {
  display: flex;
  gap: 20px;
  max-width: 1480px;
  margin: 0 auto;
}

.section.columns-row .columns-wrapper {
  display: flex;
  flex: 1;
}

.section.columns-row .columns>div>.columns-img-col img {
  max-height: 420px;
  object-fit: cover;
}

.section.columns-row .columns.highlight>div {
  background-color: #E9F6E9 !important;
}

@media (max-width: 1200px) {
  .section.columns-row .columns.highlight>div {
    flex-direction: column;
  }

  .section.columns-row .columns>div>div {
    flex: unset;
    width: unset;
  }

  .section.columns-row .columns>div>.columns-img-col {
    flex-basis: unset;
    max-width: unset;
    width: 100%;
  }

  .section.columns-row .columns>div>.columns-img-col img {
    max-height: 256px;
  }
}

@media (min-width: 900px) and (max-width: 1200px) {
  .section.columns-row .columns-wrapper:first-of-type .columns>div {
    flex-direction: column-reverse;
  }
}

@media (max-width: 768px) {
  .section.columns-row {
    flex-direction: column;
  }
}