.section.banner-carousel-container {
  padding-top: 0;
  margin-top: 1.5rem;
}

.banner-carousel .carousel-slides-container {
  position: relative;
}

.banner-carousel .carousel-slides,
.banner-carousel .carousel-slide-indicators {
  list-style: none;
  margin: 0;
  padding: 0;
}

.banner-carousel .carousel-slides {
  display: flex;
  scroll-behavior: smooth;
  scroll-snap-type: x mandatory;
  overflow: scroll clip;
}

.banner-carousel .carousel-slides::-webkit-scrollbar {
  display: none;
}

.banner-carousel .carousel-slide {
  flex: 0 0 100%;
  scroll-snap-align: start;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  position: relative;
  width: 100%;
  min-height: 380px;
}

.banner-carousel .carousel-slide:has(.carousel-slide-content[data-align="center"]) {
  align-items: center;
}

.banner-carousel .carousel-slide:has(.carousel-slide-content[data-align="right"]) {
  align-items: flex-end;
}

.banner-carousel .carousel-slide .carousel-slide-image picture {
  position: absolute;
  inset: 0;
}

.banner-carousel .carousel-slide .carousel-slide-image picture > img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.banner-carousel .carousel-slide .carousel-slide-content {
  z-index: 1;
  position: relative;
  width: 100%;
  height: 100%;
}

.banner-carousel .carousel-slide .carousel-slide-content a  {
  width: 100%;
  height: 100%;
  display: block;
}

.banner-carousel .carousel-slide-indicators {
  display: flex;
  justify-content: center;
  gap: 0.5rem;
  margin: 0.5rem 0;
}

.banner-carousel .carousel-slide-indicator button {
  width: 8px;
  height: 8px;
  padding: 0;
  border-radius: 1rem;
  background-color: #fff;
  outline: 0.75px solid #000;
  margin: 0.5rem;
}

.banner-carousel .carousel-slide-indicator button:disabled,
.banner-carousel .carousel-slide-indicator button:hover,
.banner-carousel .carousel-slide-indicator button:focus-visible {
  background-color: rgba(0 0 0 / 80%);
}

.banner-carousel .carousel-slide-indicator span {
  border: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  white-space: nowrap;
}

.banner-carousel .carousel-slide-indicators button:hover,
.banner-carousel .carousel-slide-indicators button:focus-visible {
  background-color: rgba(0 0 0 / 80%);
}

.banner-carousel .carousel-slide-indicators .slide-nav-arrow button::after {
  display: block;
  content: "";
  border: 1.5px #000 solid;
  border-bottom: 0;
  border-left: 0;
  height: 0.25rem;
  width: 0.25rem;
  position: absolute;
  top: calc(50% + 2px);
  left: calc(50% + 1px);
  transform: translate(-50%, -50%) rotate(-135deg);
}

.banner-carousel .carousel-slide-indicators .slide-nav-arrow button.slide-next::after {
  transform: translate(-50%, -50%)  rotate(45deg);
  left: calc(50% - 1px);
}

.banner-carousel .carousel-slide-indicators .slide-nav-arrow {
  position: relative;
}

.banner-carousel .carousel-slide-indicators .slide-nav-arrow:first-of-type {
  margin-right: 1rem;
}

.banner-carousel .carousel-slide-indicators .slide-nav-arrow:last-of-type{
  margin-left: 1rem;
}

.banner-carousel .carousel-slide-indicators .slide-nav-arrow button {
  width: 2.25rem;
  height: 2.25rem;
  padding: 0;
  margin: 0;
  background-color: var(--background-color-white);
  outline: 1px solid #000;
}

@media (width >= 600px) {
  .banner-carousel .carousel-slide .carousel-slide-content[data-align="justify"] {
    --slide-content-width: auto;
  }
}
